body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h2 {
    color: rgb(129, 59, 194);
    padding-left: 30px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}

button {
    background-color: grey;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
